.idea/.name
.idea/compiler.xml
.idea/libraries/appcompat_v7_22_1_1.xml
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
build/intermediates/gradle_project_sync_data.bin
TeamDevelopTest02.iml
.idea/.name
.idea/libraries/appcompat_v7_22_1_1.xml
.idea/misc.xml
.idea/vcs.xml
build/intermediates/gradle_project_sync_data.bin
*.name
*.lock
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
*.bin
.gradle/2.2.1/taskArtifacts/fileHashes.bin
*.name
local.properties
*.iml
.idea/vcs.xml